<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>


<table class="table table-bordered">
<thead>
  <tr>
    <th colspan="2">Products: <%= @product %> </th>
    <th>Categories: <%= @categories %></th>
    <th></th>
  </tr>
</thead>
<tbody>

</tbody>
</table>


